
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: rgba(29, 53, 87, 1);
    --color-light-blue: rgba(69, 123, 157, 1);
    --color-light-green: rgba(241, 250, 238, 1);
    --color-light-turq: rgba(168, 218, 220, 1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.hero {
    background-image: url("/images/torshov.jpg");
    background-size: cover;
    padding: 7.5rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.hero__title 
{
    background-color: var(--color-blue);
    padding: 0.31rem 0.75rem;
    font-size: 2em;
    margin-bottom: 0.68rem;
}

.hero__body {
    font-size: 1.17em;
    max-width: 25.75rem;
    background-color: var(--color-light-blue);
    font-weight: 700;
    padding: 0.43rem 1.75rem;
}



.activities 
{
    background-color: var(--color-light-green);
    padding: 2.37rem 2.125rem;
    color: var(--color-blue);
    font-size: 1rem;
    column-gap: 2rem;
}

.activities__title 
{
    font-size: 1.5em;
    margin-bottom: 3.375rem;
}


.activities__list {
    display: flex;
    justify-content: space-between;
}


.activity {
    flex-basis: 33%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity__img 
{
    width:50%;
    display: block;
    border-radius: 50%;
    margin-bottom: 1.375rem;
}

.activity__title {
    margin-bottom: 1rem;
    font-size: 1em;
}




.guide 
{
    padding: 3.125rem 0;
    color:var(--color-blue);
    font-size: 1rem;
}

.guide__inner {
    max-width: 25rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: var(--color-light-turq);
    padding: 1.43rem 0.81rem;
    column-gap: 0.43rem;
    box-shadow: 0px 6px 0px 0px var(--color-blue);
}

.guide__img {
    width: 100%;
    display: block;
    flex-basis: 50%;
}

.guide__content {
    flex-basis: 50%;
}

.guide__title 
{
    font-size: 1.5em;
    margin-bottom: 0.875rem;
}

.guide__body {
    font-style: italic;
    margin-bottom: 1.625rem;
}

.guide__name {
    font-weight: 700;
}