
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: rgba(29, 53, 87, 1);
    --color-light-blue: rgba(69, 123, 157, 1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.hero {
    background-image: url("/images/torshov.jpg");
    background-size: cover;
    padding: 7.5rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.hero__title 
{
    background-color: var(--color-blue);
    padding: 0.31rem 0.75rem;
    font-size: 2em;
    margin-bottom: 0.68rem;
}

.hero__body {
    font-size: 1.17em;
    max-width: 25.75rem;
    background-color: var(--color-light-blue);
    font-weight: 700;
    padding: 0.43rem 1.75rem;
}